# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# База данных
*.db
*.sqlite
*.sqlite3

# Переменные окружения
.env
.env.local

# Логи
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Временные файлы
*.tmp
*.bak

